*, html 
  margin: 0
  padding: 0
  box-sizing: border-box
  scroll-behavior: smooth

body 
  background: $bg-body

.container 
  max-width: 1180px
  width: 100%
  padding: 0 15px 
  margin: 0 auto

.text-white 
  color: $cWhite

.section-description
  margin-bottom: 70px

  h2
    text-align: center
    font-size: $section-title-set
    font-weight: 700 
    letter-spacing: 1.5px
    margin-bottom: 17px

  p 
    text-align: center
    font-size: $p-set
    line-height: $p-lh-set

header 
  position: relative
  height: 750px
  width: 100%
  background: url('./../assets/bg-header.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

  &::before
    height: 100%
    width: 100%
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $cBlack
    opacity: .35

.hero 
  position: relative
  display: flex 
  align-items: center
  height: 100% 
  justify-content: center

  h1 
    text-align: center
    font-size: $hero-set
    color: $cWhite
    margin-bottom: 23px 

  p 
    color: $cWhite
    font-size: $hero-text
    text-align: center
    margin-bottom: 45px
    line-height: $p-lh-set
    letter-spacing: $p-sp-set
    font-weight: 400

  button 
    margin: 0 auto 
    display: block

.finder-widget 
  position: relative
  z-index: 30
  height: 171px
  max-width: 1020px
  box-shadow: 0px 4px 60px 10px rgba(0, 0, 0, 0.10)
  border-radius: 10px
  background: $cWhite
  margin: 0 auto
  margin-top: -85px
  padding: 30px 50px

  form 
    display: grid 
    grid-template-columns: repeat(4, 1fr)
    gap: 60px

  .form-group 
    label 
      font-size: $form-lb-set
      font-weight: 700 
      font-family: $font-primary
      line-height: $form-lh-set
      letter-spacing: $form-lb-sp-set
      display: block 
      margin-bottom: 10px
    
    input 
      height: 40px
      outline: none
      border: none
      width: 100%

      &::placeholder
        font-size: 14px
        font-family: $font-primary
        font-weight: 400

  .form-actions 
    display: flex 
    gap: 20px
    flex-direction: column
    height: 100%
 
.section-1 
  padding: 85px 0 135px 0 

  .cards 
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 32px

    .card 
      padding: 12px 
      background: $cWhite
      box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.05)
      border-radius: 10px

      .card-image 
        width: 100%
        border-radius: 10px
        height: 220px
        margin-bottom: 15px 

      .card-title 
        font-weight: 700
        margin-bottom: 3px

      .card-span 
        font-size: 14px 
        font-weight: 400 
        letter-spacing: 0.7px 
        color: rgba($cBlack, .50)

    .card:nth-child(even) 
      transform: translateY(40px)

.section-2 
  padding: 100px 0
  background: $cBlack-100
  background-image: url(../../assets/bg-pattern-1.png)

  .feature-cards 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px

    .feature-card 
      background: $cGray
      padding: 22px 25px
      border-radius: 10px
      border: 1px solid $cGray
      cursor: pointer
      transition: all 0.2s ease

      .icon-container 
        display: flex 
        align-items: center
        justify-content: center
        height: 38px
        width: 38px
        background: $bg-primary
        border-radius: 100%
        margin-bottom: 10px

      .feature-title 
        font-weight: 700
        font-size: 18px
        margin-bottom: 20px

      .feature-text
        font-size: 15px 
        line-height: 23px
        letter-spacing: 0.75px

    .feature-card:hover, .active 
      background: transparent 
      border: 1px solid $cGray

.section-3 
  padding: 110px 0

  .client-logos 
    display: flex 
    align-items: center
    justify-content: space-between

.section-4
  margin-bottom: 115px

  .email-alerts 
    position: relative
    height: 455px
    width: 100%
    background: $bg-primary 
    background-image: url('../../assets/bg-pattern-2.png')
    background-repeat: no-repeat
    border-radius: 10px
    box-shadow: 2px 18px 30px 0px rgba(0, 0, 0, 0.10)
    display: flex 
    align-items: center
    overflow: hidden

    .content-left
      padding: 0 60px

    .section-description
      margin-bottom: 48px

      h2, p 
        text-align: left

    .email-form 
      position: relative
      width: max-content

      .button-submit
        position: absolute 
        right: 4px
        height: 44px
        width: 44px
        padding: 0
        border-radius: 100%
        display: flex 
        align-items: center
        justify-content: center
        background: $cBlack
        top: 50% 
        transform: translateY(-50%)

    .email-input
      height: 50px
      width: 360px
      border-radius: 50px
      outline: none
      border: none
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15)
      background: $cWhite
      padding: 0 65px 0 20px

      &::placeholder
        font-size: 16px
        line-height: $p-lh-set
        letter-spacing: 0.8px
        color: rgba($cBlack, 0.3)

  .insta-grid 
    position: absolute
    right: 8%
    display: grid 
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px
    transform: rotate(12.93deg)

    .insta-card
      height: 225px
      width: 190px
      background: $cWhite
      padding: 15px 11px

      img 
        width: 100%
        margin-bottom: 5px

      .insta-status
        display: flex 
        align-items: center
        justify-content: space-between

        img 
          height: 20px 
          width: 20px

        span.insta-date 
          font-size: 14px
          color: rgba($cBlack, .50)

    .insta-card:nth-child(even) 
      transform: translateY(30px)

footer 
  .footer-top 
    display: grid 
    grid-template-columns: 1fr 350px 1fr
    gap: 50px
    margin-bottom: 75px

    h3, h4 
      margin-bottom: 20px
      font-family: sans-serif

    h3 
      font-size: 25px
      font-weight: 800 
      line-height: 33px
      letter-spacing: 2px

    h4
      font-size: 16px
      font-weight: 800
      line-height: 21px
      letter-spacing: 1px

    a 
      color: rgba($cBlack, .60)
      font-size: 16px
      line-height: 25px

      &:hover
        color: $cPrimary

    .footer-start 
      p 
        color: rgba($cBlack, .60)
        line-height: 25px

    .footer-mid 
      display: flex 
      gap: 80px

    .footer-end 
      padding-left: 30px

      a 
        display: flex 
        align-items: center
        gap: 10px

    .footer-start, .footer-mid, .footer-end 
      ul 
        li 
          margin-bottom: 7px

  .footer-bottom
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 30px
    border-top: 1px solid rgba($cBlack, .07)

    span 
      color: #5f5f5f

    .footer-terms 
      display: flex 
      gap: 13px 
      align-items: center

      a 
        color: rgba($cBlack, .60)
        font-size: 14px

        &:hover
          color: $cPrimary

      ul 
        display: flex 
        gap: 13px

      a.button-primary 
        display: flex 
        align-items: center
        justify-content: center
        height: 25px
        width: 25px
        border-radius: 25px

        img 
          height: 15px 
          width: 15px

