// LAPTOP SET
@media screen and (max-width: 1000px) 
  .section-1 
    .cards
      grid-template-columns: 1fr 1fr

  footer 
    .footer-top 
      grid-template-columns: 1fr 1fr 1fr

      .footer-mid 
        gap: 50px

      .footer-end 
        padding: 0
  
// TABLET SET
@media screen and (max-width: 800px) 
  .navbar 
    .nav-links, button  
      display: none

    .hamburger-menu 
      display: flex
      cursor: pointer
      align-items: center
      justify-content: center
      height: max-content

  .navbar-active
    .hamburger-menu-black 
      display: block

    .hamburger-menu 
      display: none

  .finder-widget 
    height: auto

    form 
      grid-template-columns: 1fr 1fr 
      gap: 35px

  .section-2 
    .feature-cards
      grid-template-columns: 1fr 1fr
      gap: 15px

  .section-3 
    .client-logos 
      flex-direction: column 
      gap: 30px

  .section-4
    .email-alerts 
      .content-left
        padding: 0 30px

    .insta-grid 
      display: none

  footer
    .footer-top
      grid-template-columns: 1fr 1fr

// MOBILE SET
@media screen and (max-width: 600px)
  .hero 
    h1 
      font-size: 25px
      line-height: normal

    br 
      display: none

  .section-description 
    margin-bottom: 50px

    h2 
      font-size: 20px 

    p 
      font-size: 14px

  .finder-widget 
    padding: 30px
    form 
      grid-template-columns: 1fr

  .section-1 
    .section-description 
      br 
        display: none

    .cards
      grid-template-columns: 1fr

      .card:nth-child(even)
        transform: translateY(0)

  .section-2 
    padding: 75px 0

    .section-description 
      br 
        display: none

    .feature-cards
      grid-template-columns: 1fr

  .section-3
    padding: 55px 0

  .section-4
    margin-bottom: 75px

    .email-alerts 
      br 
        display: none

      .email-input, .email-form 
        width: 100%

      .content-left

        margin: auto 

  footer 
    .footer-top
      grid-template-columns: 1fr

      .footer-start, .footer-end 
        br 
          display: none

    .footer-bottom 
      flex-direction: column

      span 
        margin-bottom: 10px