// 
@media screen and (max-width: 1000px) 
  .section-1 
    .cards
      grid-template-columns: 1fr 1fr

  footer 
    .footer-top 
      grid-template-columns: 1fr 1fr 1fr

      .footer-mid 
        gap: 50px

      .footer-end 
        padding: 0

  
// TABLET SET
@media screen and (max-width: 800px) 
  .navbar 
    .nav-links, button  
      display: none

    .hamburger-menu 
      display: flex
      cursor: pointer
      align-items: center
      justify-content: center
      height: max-content

  .navbar-active
    .hamburger-menu-black 
      display: block

    .hamburger-menu 
      display: none

  .finder-widget 
    height: auto

    form 
      grid-template-columns: 1fr 1fr 
      gap: 35px

  .section-2 
    .feature-cards
      grid-template-columns: 1fr 1fr
      gap: 15px

  .section-3 
    .client-logos 
      flex-direction: column 
      gap: 30px

  footer
    .footer-top
      grid-template-columns: 1fr 1fr

// MOBILE SET