// TABLET SET
@media screen and (max-width: 800px) 
  .navbar 
    .nav-links, button  
      display: none

    .hamburger-menu 
      display: flex
      cursor: pointer
      align-items: center
      justify-content: center
      height: max-content

  .navbar-active
    .hamburger-menu-black 
      display: block

    .hamburger-menu 
      display: none

// MOBILE SET