button, .button 
  width: auto
  padding: 10px 30px
  border-radius: 100px
  outline: none
  border: none
  font-family: $font-primary
  transition: 0.3s ease
  cursor: pointer
  font-size: 15px

.button-primary
  background: $bg-primary
  color: $cWhite

  &:hover
    background: #000